#start h1 {
    text-shadow:
   -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}
#start p {
    text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#app_cycle h1, #app_cycle h2 {
    margin-top: -50px !important;
}